body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(rgba(255, 0, 0, 0.582), rgb(255, 0, 140), rgb(234, 0, 255))
}

div{
    background-color: rgb(rgb(255, 0, 242), rgb(255, 0, 106), rgb(234, 0, 255);
    position: absolute;
    top: 50%;
    left: 50;
    transform: translate(-50%, -50%);
    padding: 80x;
    border-radius: 15px;
}